
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-container {
    color: #fff;
    text-align: center;
}

.piano-keys-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-block: 0px;
    padding-inline-start: 0px;
}


.white-key {
    background-color: #fff;
}


.piano-container {
    /* width: 90%; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    pointer-events: visible;
}

.piano-keys {
    width: 48px;
    cursor: pointer;
    position: relative;
    height: 6rem;
    border-radius: 3px;
    border: 1.5px solid #000;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.black-key {
    width: 20px;
    height: 3.5rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: black;
    z-index: 2;
    margin: 0 -13px 0 -20px;
}

.piano-keyboard-scale-degrees {
    padding-bottom: 3px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    filter: drop-shadow(0.25mm 0.25mm 0.4mm black);
}

li.selected-key {
    background: red;
}

li.black-key.selected-key {
    background: #b70000;
}


li.highlighted-key {
    background: #7dd8ff;
}

li.black-key.highlighted-key {
    background: #0d95ce;
}

li.selected-root-key {
    background: red;
}

li.black-key.selected-root-key {
    background: #b70000;;
}