div.scaleFinder {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.userInput {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    min-width: 375px;
}

.searchButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


h2.scaleGroupHeader {
  background-color: #7dc9ea; /* #B1F0F7; */
  margin-block-end: 0.4em;
  color: black;
  padding-block: 6px;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

h2.scaleGroupHeader:hover {
  background-color: #99d6f0;
}


.scaleHeader {
  background-color: #FADA7A; /*  #F5F0CD; */
  padding: 6px;
  color: black;
  margin-inline: 30px;
  border-radius: 6px;
  cursor: pointer;
}

.scaleHeader:hover {
  background-color: #fbe49e;
}

.parallelScaleHeader {
  padding: 6px;
  color: black;
  border-radius: 6px;
  margin-inline: 65px;
  background-color: #ffc7c2;
}

.parallelModesButton {
  padding-top: 10px;
  border-top: 2px solid #7c7c7c;
  margin-inline: 65px;
  padding-bottom: 12px;
  cursor: pointer;
}

.parallelModesButton:hover {
  background-color: #dfdfdf;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

li {
    font-size: 18px;
}
  
/* Horizontal layout for chord blocks */
div.chords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Individual chord block styling */
div.chord {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     padding-left: 0.7rem;
     padding-right: 0.7rem;
/*    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9; */
    width: 50px;
    transition: background-color 0.2s ease;
}
  
  /* Hover effect for chord blocks */
div.chord:hover {
    background-color: #eaeaea;
}
  
/* Chord header (Roman numeral and chord name) */
div.chord-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}
  
/* Vertical layout for notes inside a chord block */
div.chord-notes {
    display: flex;
    flex-direction: column;
}

.scale-note-display {
  display: inline flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

div.scale-note-degree {
  /* text-align: left; */
  font-weight: bold;
}
   
.settings-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.settings-container {
  /* background-color: #dedede; */
  border-bottom: 2px solid rgb(175, 175, 175);
  border-left: 2px solid rgb(175, 175, 175);
  border-right: 2px solid rgb(175, 175, 175);
}

.scaleHeaderContainer {
    display: grid;
    grid-template-columns: 1fr auto; /* Centered div + Right-aligned div */
    align-items: center; /* Vertically center the items */
    position: relative; /* For grid alignment */
}

.modeSelectRightAligned {
    text-align: right;
    display: flex;
    flex-direction: column; /* Stack content inside the right-aligned div */
    align-items: flex-end; /* Align to the right */
}

li.scaleDisplay
{
    border-radius: 4px;
}


.search
{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  min-width: 160px;
  padding: 12px 16px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #eaeaea;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #ddd;}

.highlightedNote {
  font-weight: bold;
  color: #da3003;
}

.standardNote {
  font-weight: normal;
}
