div.scaleFinder {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
   /*  width: 300px; */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 5px 0;
}

/* Horizontal layout for chord blocks */
div.chords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem; */
  }
  
  /* Individual chord block styling */
  div.chord {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* padding: 0.4rem; */
     padding-left: 0.7rem;
     padding-right: 0.7rem;
/*    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9; */
    width: 50px;
    transition: background-color 0.2s ease;
  }
  
  /* Hover effect for chord blocks */
  div.chord:hover {
    background-color: #eaeaea;
  }
  
  /* Chord header (Roman numeral and chord name) */
  div.chord-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  /* Vertical layout for notes inside a chord block */
  div.chord-notes {
    display: flex;
    flex-direction: column;
  }
   
  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }



  .scaleHeaderContainer {
    display: grid;
    grid-template-columns: 1fr auto; /* Centered div + Right-aligned div */
    align-items: center; /* Vertically center the items */
    /* padding: 0 20px; */
    position: relative; /* For grid alignment */
    /* gap: 20px;  *//* Adds spacing between items */
}

/* .scaleHeaderCentered {
    justify-self: center;
    text-align: center;
} */

.scaleHeaderCentered {
  grid-column: 1 / -1; /* Span across all columns */
  justify-self: center; /* Center horizontally in the container */
  width: 350px;
  position: absolute; /* Make it completely independent of other content */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it horizontally and vertically */
}

.modeSelectRightAligned {
    text-align: right;
    display: flex;
    flex-direction: column; /* Stack content inside the right-aligned div */
    align-items: flex-end; /* Align to the right */
    /* gap: 10px; */ /* Space between internal elements */
}

/* 
@media (max-width: 700px) {
    .scaleHeaderContainer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto; 
        align-items: center;
    }

    .modeSelectRightAligned {
        justify-self: center; 
        text-align: center; 

    }
 */
/*     .scaleHeaderCentered {
      display: flex;
      flex-direction: column;
      justify-self: center;
      text-align: center;
      width: 300px;
    } */
/* 
    .modeSelectRightAligned {
        align-items: center; 
    }
}

 */